#top{color: brown;}

ol.items{color: blueviolet;}

h2{color: rgb(102, 59, 26);}

.history h4{color: darkcyan;}

h4{color:blueviolet;}

.lead,
.expert{color: blue;}

.history.cult{color: yellowgreen;}

.list ~ ol{color: green;}

.fakty p{color:maroon;}

.fakty > p{color: red;}

.moon + p{color: darkslategray;}

.more p{color: dodgerblue;}

ul.more{color: coral;}

span{color: darkred;}

span.step{color: darkblue;}

.faktor li{color: darkorange;}

.moon *{color: pink;}